{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.ts",
  "importOrder": ["^react$", "next", "<THIRD_PARTY_MODULES>", "antd", "@/", "^[./]", ".(.\\w+).module.scss"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
